
@import '../../styles/mixins.scss';

.hero {
  padding-block: 6rem;
  background-color: #ffb819; 

  &__container {
    display: grid;
    align-items: center; 
    justify-content: center; 
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  img {
    max-width: 100%; 
    height: auto; 
  }
}
