.Section6 {
   margin-bottom: 100px;
  }
  
  .Section6_container {
    /* Agrega estilos según sea necesario */
  }
  
  .card-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas del grid */
    grid-gap: 20px; /* Espacio entre las tarjetas */
    position: relative; /* Para que las tarjetas puedan tener posición absoluta relativa a este contenedor */
  }
  
  .custom-card2 {
    position: relative;
    overflow: hidden;
  }
  
  .custom-card2 img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .custom-card2:hover img {
    transform: scale(1.1); /* Escala de la imagen al pasar el mouse */
  }
  
  .card-content2 {
    position: absolute;
    bottom: 10px; /* Cambia la posición desde abajo a 10px */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente */
    padding: 10px;
    margin-top: -10px; /* Ajusta la posición hacia arriba */
  }
  
  .card-content2 h3 {
    margin: 0;
    color: #333; /* Color del título */
  }
  
  .card-content2 p {
    margin: 0;
    color: #333; /* Color del texto */
    overflow: visible; /* Permite que el texto se desborde hacia abajo */
    max-height: none; /* Elimina la restricción de altura máxima */
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta según sea necesario */
    grid-gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior */
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .yellow-button {
    background-color: #ffb71b; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .yellow-button:hover {
    background-color: #9e9e9e; /* Cambia de color al pasar el mouse */
  }

  .title-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta según sea necesario */
    grid-gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior */
  }

  .tittle-wrapper {
    display: flex;
    justify-content: center;
  }
  .title{
    font-size: 32px;
  }